USE [master]
GO
/****** Object:  Database [ap3]    Script Date: 12/05/2026 09:19:41 ******/
CREATE DATABASE [ap3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ap3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ap3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ap3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ap3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ap3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ap3]
GO
/****** Object:  User [Lea]    Script Date: 12/05/2026 09:19:41 ******/
CREATE USER [Lea] FOR LOGIN [Lea] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Lea]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Lea]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Lea]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Lea]
GO
/****** Object:  Table [dbo].[adherents]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adherents](
	[idAdherents] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[prenom] [varchar](50) NOT NULL,
	[mail] [varchar](50) NULL,
	[dateNaissance] [date] NULL,
	[numTel] [varchar](50) NULL,
	[adresse] [varchar](50) NULL,
	[MotDePasse] [varchar](255) NULL,
	[idAbonnement] [int] NULL,
	[Role] [varchar](10) NULL,
 CONSTRAINT [PK__adherent__AF5420A0E543BCD0] PRIMARY KEY CLUSTERED 
(
	[idAdherents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[abonnement]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abonnement](
	[idAbonnement] [int] IDENTITY(1,1) NOT NULL,
	[prix] [varchar](50) NULL,
	[dateDebut] [date] NULL,
	[dateFin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAbonnement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vue_Adherents]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vue_Adherents]
AS
SELECT
    nom,
    prenom,
    mail,
    Ab.idAbonnement AS idAbo,
    prix,
    Role
FROM adherents Ad
Left join abonnement Ab ON Ad.idAdherents = Ab.idAbonnement;
GO
/****** Object:  Table [dbo].[Activite]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activite](
	[idActivite] [int] IDENTITY(1,1) NOT NULL,
	[activite] [varchar](50) NULL,
	[descriptionAct] [varchar](200) NULL,
	[dateAct] [date] NULL,
	[heureAct] [time](7) NULL,
	[dureeAct] [varchar](50) NULL,
	[idAnimateur] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idActivite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animateur]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animateur](
	[idAnimateur] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[idAnimateur_1] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnimateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[idLog] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[date_log] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[idMessage] [int] IDENTITY(1,1) NOT NULL,
	[sujet] [varchar](50) NULL,
	[message] [varchar](200) NULL,
	[idAdherents] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organiser]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organiser](
	[idAdherents] [int] NOT NULL,
	[idReunion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdherents] ASC,
	[idReunion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[idAdherents_1] [int] NOT NULL,
	[DateInscription] [date] NULL,
	[renouvellement] [bit] NULL,
	[idAdherents] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdherents_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reunion]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reunion](
	[idReunion] [int] IDENTITY(1,1) NOT NULL,
	[dateReunion] [date] NULL,
	[objetReunion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idReunion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[s_inscrir]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[s_inscrir](
	[idActivite] [int] NOT NULL,
	[idAdherents] [int] NOT NULL,
	[absent] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idActivite] ASC,
	[idAdherents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Superviseurs]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Superviseurs](
	[idAdherents] [int] NOT NULL,
	[Specialite] [varchar](50) NULL,
	[diplome] [varchar](50) NULL,
	[NbAnneeXp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdherents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activite]  WITH NOCHECK ADD FOREIGN KEY([idAnimateur])
REFERENCES [dbo].[Animateur] ([idAnimateur])
GO
ALTER TABLE [dbo].[adherents]  WITH NOCHECK ADD  CONSTRAINT [FK__adherents__idAbo__3E52440B] FOREIGN KEY([idAbonnement])
REFERENCES [dbo].[abonnement] ([idAbonnement])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[adherents] CHECK CONSTRAINT [FK__adherents__idAbo__3E52440B]
GO
ALTER TABLE [dbo].[Animateur]  WITH NOCHECK ADD FOREIGN KEY([idAnimateur_1])
REFERENCES [dbo].[Animateur] ([idAnimateur])
GO
ALTER TABLE [dbo].[Message]  WITH NOCHECK ADD  CONSTRAINT [FK__Message__idAdher__440B1D61] FOREIGN KEY([idAdherents])
REFERENCES [dbo].[adherents] ([idAdherents])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__idAdher__440B1D61]
GO
ALTER TABLE [dbo].[Organiser]  WITH NOCHECK ADD FOREIGN KEY([idAdherents])
REFERENCES [dbo].[Superviseurs] ([idAdherents])
GO
ALTER TABLE [dbo].[Organiser]  WITH NOCHECK ADD FOREIGN KEY([idReunion])
REFERENCES [dbo].[Reunion] ([idReunion])
GO
ALTER TABLE [dbo].[Participants]  WITH NOCHECK ADD  CONSTRAINT [FK__Participa__idAdh__49C3F6B7] FOREIGN KEY([idAdherents_1])
REFERENCES [dbo].[adherents] ([idAdherents])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK__Participa__idAdh__49C3F6B7]
GO
ALTER TABLE [dbo].[s_inscrir]  WITH NOCHECK ADD FOREIGN KEY([idActivite])
REFERENCES [dbo].[Activite] ([idActivite])
GO
ALTER TABLE [dbo].[s_inscrir]  WITH NOCHECK ADD FOREIGN KEY([idAdherents])
REFERENCES [dbo].[Participants] ([idAdherents_1])
GO
ALTER TABLE [dbo].[Superviseurs]  WITH NOCHECK ADD  CONSTRAINT [FK__Supervise__idAdh__46E78A0C] FOREIGN KEY([idAdherents])
REFERENCES [dbo].[adherents] ([idAdherents])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Superviseurs] CHECK CONSTRAINT [FK__Supervise__idAdh__46E78A0C]
GO
/****** Object:  StoredProcedure [dbo].[GetAllAdherent]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAdherent]

AS
BEGIN
    SET NOCOUNT ON;

    SELECT idAdherents, nom, prenom, mail, dateNaissance, numTel, adresse
    FROM adherents
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_adherent]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_adherent]
    @nom            VARCHAR(100),
    @prenom         VARCHAR(100),
    @mail           VARCHAR(150),
    @dateNaissance  DATE,
    @numTel         VARCHAR(20),
    @adresse        VARCHAR(255),
    @MotDePasse     VARCHAR(255),
    @idAbonnement   INT,
    @Role           VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO adherents
    (nom, prenom, mail, dateNaissance, numTel, adresse, MotDePasse, idAbonnement, Role)
    VALUES
    (@nom, @prenom, @mail, @dateNaissance, @numTel, @adresse, @MotDePasse, @idAbonnement, @Role);

    -- Renvoie l'ID créé
    SELECT SCOPE_IDENTITY() AS idAdherent;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_adherent]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_adherent]
    @idAdherents    INT,
    @nom            VARCHAR(100),
    @prenom         VARCHAR(100),
    @mail           VARCHAR(150),
    @dateNaissance  DATE,
    @numTel         VARCHAR(20),
    @adresse        VARCHAR(255),
    @MotDePasse     VARCHAR(255),
    @idAbonnement   INT,
    @Role           VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE adherents
    SET
        nom           = @nom,
        prenom        = @prenom,
        mail          = @mail,
        dateNaissance = @dateNaissance,
        numTel        = @numTel,
        adresse       = @adresse,
        MotDePasse    = @MotDePasse,
        idAbonnement  = @idAbonnement,
        Role          = @Role
    WHERE idAdherents = @idAdherents;
END;
GO
/****** Object:  StoredProcedure [dbo].[SupprAdherent]    Script Date: 12/05/2026 09:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SupprAdherent](@IdAdherent int)
AS
BEGIN
DELETE FROM adherents
WHERE idAdherents = @IdAdherent
END;
GO
USE [master]
GO
